<head>
 <!-- metadata -->
 <meta charset="utf-8">
 <base>
 <title>the Boyfriend Experience|<%= page %></title>
  <!--<title>Brock Love|<%= page %>|the Boyfriend Experience|Male Escort Atlanta-Escort on Rentmen</title>-->

 <meta name="description" content="">
 <meta property="og:type" content="website">
 <meta property="og:url" content="">
 <meta property="og:site_name" content="">
 <meta property="og:title" content="">
 <meta property="og:description" content="">
 <meta property="twitter:title" content="">
 <meta property="twitter:description" content="">
 <!-- Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
 <!-- Styles -->
  <style media="all">
    audio,
    canvas,
    iframe,
    img,
    svg,
    video {
      vertical-align: middle
    }

    audio:not([controls]) {
      display: none;
      height: 0;}

    img,
    svg {
      max-width: 100%;
      height: auto;
    }

    img[height],
    img[width],
    svg[height],
    svg[width] {
      max-width: none;
    }

    img {
      font-style: italic;
    }

    svg {
      fill: currentColor;
    }

    html {
      min-height: 100%;
      color: #ece0c6;
      font-family: Cinzel;
      line-height: 1.6;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: none;
    }

    @media (max-width:699px) {
      html {
        font-size: 15px;
      }
    }

    @media (min-width:700px) and (max-width:999px) {
      html {
        font-size: 12px;
      }
    }

    @media (min-width:1000px) and (max-width:1199px) {
      html {
        font-size: 13px;
      }
    }

    @media (min-width:1200px) and (max-width:1599px) {
      html {
        font-size: 15px;
      }
    }

    @media (min-width:1600px) and (max-width:1999px) {
      html {
        font-size: 17px;
      }
    }

    @media (min-width:2000px) and (max-width:2399px) {
      html {
        font-size: 20px;
      }
    }

    @media (min-width:2400px) {
      html {
        font-size: 23px;
      }
    }

    html.is-loading {
      cursor: wait;
    }

    html.has-scroll-smooth {
      overflow: hidden;
    }

    html.has-scroll-dragging {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    html[data-theme=red] {
      background-color: #f4583d;
      color: #1d1d1d;
    }

    .has-scroll-smooth body {
      overflow: hidden;
    }

    [data-load-container].is-old {
      opacity: 0;
    }

    ::-moz-selection {
      background-color: #f4583d;
      color: #f5eddc;
      text-shadow: none;
    }

    ::selection {
      background-color: #f4583d;
      color: #f5eddc;
      text-shadow: none;
    }

    a,
    a:focus,
    a:hover {
      color: currentColor;
    }

    .c-preloader {
      background-color: #ece0c6;
      position: fixed;
      color: #1d1d1d;
      z-index: 2000;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .c-preloader,
    .c-preloader_inner {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .c-preloader_inner {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .c-preloader_content {
      display: flex;
      align-items: center;
      flex-direction: column;
      transform: translate3d(0, 6.66667rem, 0);
      opacity: 0;
      transition: transform .5s cubic-bezier(.165, .84, .44, 1), opacity .5s cubic-bezier(.165, .84, .44, 1);
    }

    .c-preloader.-active .c-preloader_content {
      transform: translateZ(0);
      opacity: 1;
    }

    .c-preloader_logo {
      width: 10.86667rem;
      height: 1.33333rem;
    }

    .c-preloader_spinner {
      display: block;
      border-color: currentcolor transparent transparent currentcolor;
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      width: .33333rem;
      height: .33333rem;
      -webkit-animation: spin .25s linear infinite;
      animation: spin .25s linear infinite;
      margin-top: .33333rem;
      opacity: 0;
      transition: opacity .25s cubic-bezier(.215, .61, .355, 1);
    }

    .c-preloader.-loading .c-preloader_spinner {
      opacity: 1;
      transition: opacity .25s cubic-bezier(.215, .61, .355, 1) .5s;
    }

    @-webkit-keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(1turn);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(1turn);
      }
    }

    .c-preloader_pairing {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      display: none;
      align-items: center;
      justify-content: center;
    }

    .c-preloader.-show-pairing .c-preloader_pairing {
      display: flex;
    }

    @media (max-width:999px) {
      .c-preloader_pairing {
        flex-direction: column;
      }
    }

    @media (min-aspect-ratio:1/1) {

      .c-preloader_album,
      .c-preloader_beer {
        width: 50vh;
      }
    }

    @media (max-aspect-ratio:1/1) {

      .c-preloader_album,
      .c-preloader_beer {
        width: 50vw;
      }
    }

    .c-preloader_album,
    .c-preloader_beer_visual {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
    }

    .c-preloader_album:before,
    .c-preloader_beer_visual:before {
      content: "&quot;&quot;";
      display: block;
      padding-bottom: 100%;
    }

    .c-preloader_album {
      z-index: 5;
    }

    .c-preloader_beer {
      z-index: 10;
      position: relative;
      box-sizing: border-box;
    }

    @media (min-aspect-ratio:1/1) {
      .c-preloader_beer {
        padding: 7vh;
      }
    }

    @media (max-aspect-ratio:1/1) {
      .c-preloader_beer {
        padding: 7vw;
      }
    }

    .c-preloader_beer:before {
      content: "&quot;&quot;";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #f5eddc;
      border-radius: 50%;
    }

    .c-preloader_beer_visual {
      position: relative;
      z-index: 10;
    }
  </style>
  <!-- Add your own styles-->
  <link id="stylesheet" rel="stylesheet" href="/stylesheets/style.css" media="print" onload="this.media='all'; this.onload=null; this.isLoaded=true">
      <!-- <link id="stylesheet" rel="stylesheet" href="https://www.brewsandgrooves.com/assets/styles/main.css?v=1.1" media="print"
        onload="this.media='all'; this.onload=null; this.isLoaded=true"> -->
          <link rel="icon" type="image/svg+xml" href="/public/favicon.svg">



 <script src="/js/console.js" defer></script>
<script src="/js/appf9e3.js" defer></script>
<script src="/js/vendorsf9e3.js" defer></script>

</head>
