<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-left">
      <h1 class="footer-heading"
        style="transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;font-family:'Tt-trailers';">
        LET'S BE FRIENDS</h1>
      <h1 class="footer-heading"
        style="transform: translate3d(50px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(5deg) rotateZ(0deg)  transform-style: preserve-3d;opacity:1;font-family:Atomicmarker;transform:skew(-10deg);">
        WITH BENEFITS</h1>
    </div>
  </div>
  <!-- Add social icons and additional footer information here as needed -->
</footer>