<head>
 <!-- metadata -->
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <base>
 <title>the Boyfriend Experience| <%= page %></title>
 <meta name="description" content="">
 <meta property="og:type" content="website">
 <meta property="og:url" content="">
 <meta property="og:site_name" content="">
 <meta property="og:title" content="">
 <meta property="og:image" content="uploads/metadata/opengraph/images/Main_Image.jpg">
 <meta property="og:description" content="">
 <meta property="twitter:title" content="">
 <meta property="twitter:description" content="">
 <meta property="twitter:image" content="uploads/metadata/opengraph/images/Main_Image.jpg">
 <!-- Viewport -->
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="HandheldFriendly" content="true"><!-- Appearance -->
 <meta name="theme-color" content="#1d1d1d">
 <meta name="msapplication-TileColor" content="#ffffff">
 <link rel="manifest" href="/site.webmanifest">
 <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
 <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
 <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
 <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#f4583d">
 <link rel="shortcut icon" href="/favicon.ico">
 <meta name="msapplication-TileColor" content="#1d1d1d">
 <meta name="msapplication-config" content="/browserconfig.xml">
 <!-- Styles -->
 <link id="stylesheet" rel="stylesheet" href="/static/css/styles.css" media="print" onload="this.media='all'; this.onload=null; this.isLoaded=true">
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <script src="/static/js/app.js" defer></script>
</head>
