<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {page: "About Us"}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1><center>About Us</center></h1>
        <p>Learn more about our team and mission.</p>
    </main>
    <%- include('../partials/footer.ejs') %>

</body>
</html>
