<!DOCTYPE html>
<html class="has-no-js has-scroll-init has-intro-hidden is-loaded is-first-load is-ready" lang="en" data-template="home">
<%- include('../partials/head', {page: "Home" }) %>
<body data-module-load data-load-analytics="">
    <%- include('../partials/header.ejs') %>
    <div data-load-container>
      <main class="o-scroll || c-dusted" data-module-scroll data-scroll-main="true">
        <div class="o-container">

        </main>
        </div>

     <%- include('../partials/footer.ejs') %>

  </body>

</html>