<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {page: "Home"}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1>Welcome to Our Appointment Booking System</h1>
        <p>This is the home page. You can navigate to different sections using the menu above.</p>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
